:root {
    --background-color: #323742;
    --text-color: #222;
    --javascript: #efd81d;
    --typescript: #2f74c0;
    --go: #00ADD8;
    --postgres: #31648c;
    --nodejs: #78b460;
    --reactjs: #78d8f7;
    --vue: #3fb27f;
    --firebase: #f5820b;
}

.pill {
    border: 1px solid var(--text-color);
    font-size: 55%;
    padding: 0 10px;
    vertical-align: middle;
    border-radius: 5px;
    font-weight: 700;
    color: var(--background-color)
}

.javascript {
    background-color: var(--javascript);
    border-color: var(--javascript);
    color: var(--background-color)
}

.go {
    background-color: var(--go);
    border-color: var(--go);
    color: var(--background-color);
}

.typescript {
    background-color: var(--typescript);
    border-color: var(--typescript);
    color: var(--background-color);
}

.postgres {
    background-color: var(--postgres);
    border-color: var(--postgres);
    color: var(--background-color);
}

.nodejs {
    background-color: var(--nodejs);
    border-color: var(--nodejs);
    color: var(--background-color);
}

.reactjs {
    background-color: var(--reactjs);
    border-color: var(--reactjs);
    color: var(--background-color);
}

.vue {
    background-color: var(--vue);
    border-color: var(--vue);
    color: var(--background-color);
}

.firebase {
    background-color: var(--firebase);
    border-color: var(--firebase);
    color: var(--background-color);
}

.p {
    width: 50%;
    margin: auto;
}

@media (max-width: 800px) {
    .p {
        width: 90%;
        margin: auto;
    }
}